encode '(' and ')' at cookie value

If server work as [RFC 2109](https://www.ietf.org/rfc/rfc2109.txt) (from [RFC 2068](https://www.ietf.org/rfc/rfc2068.txt)). ```(``` and ```)``` characters in http header (also cookie value) are invalid

If send cookie value has ```(``` or ```)``` to tomcat 7.x. the value was cut before ```(``` or ```)```.

the reason was  [this code block](https://github.com/apache/tomcat/blob/TOMCAT_7_0_42/java/org/apache/tomcat/util/http/parser/HttpParser.java#L313-L330).

So i suggest to add the line 

```javascript
value = value.replace(/[\(\)]/g, escape);
```

According to [RFC 6265](http://tools.ietf.org/html/rfc6265#section-4.1.1) (which obsoletes [RFC 2965](http://tools.ietf.org/html/rfc2965) which obsoletes [RFC 2109](http://tools.ietf.org/html/rfc2109)), the parens are allowed in a `cookie-octet`.

We have plans to provide an optional write function to leave to the developer the burden to handle server-side incompatibilities, see #70.

It might be worth creating an issue in Tomcat regarding this, or wait until I get a proper response from [the e-mail I send to the ietf's http-state group](http://www.ietf.org/mail-archive/web/http-state/current/msg01461.html).

thanks for your reply.

I think to offer backward compatibility (RFC 6265 and RFC 2109) was better than to provide an optional write function. (I think it is simply, only need is encoding more strictly)

Too many developer who will be using js-cookie (also jquery cookie plugin) will be trouble with this problem :'(

and tomcat is being implemented [RFC 6256] at new version(https://github.com/apache/tomcat/blob/trunk/java/org/apache/tomcat/util/http/parser/Cookie.java)

@mastojun We will actually break backwards compatibility in v2 if we change it, since now [it is documented](https://github.com/js-cookie/js-cookie/tree/f28a0fdfc0f780406a4f083c1ec410c77acf55ec#encoding) how we encode cookies. The only thing we can do is to provide a way for developers to workaround it in their end.

I am glad to know Tomcat is working to be RFC 6265 compliant!
If you are using a Java-based server that is still not compliant with RFC 6265 you can try out the [Java Cookie](https://github.com/js-cookie/java-cookie) project. It is a project built for servlet containers that is consistent with RFC 6265 and has a similar API interface as js-cookie.

@FagnerMartinsBrack  Ok,  I understand.
I have one more question. Do you have any plan to fix '(', ')' encoding problem at jquery.cookie 1.x version ?

> I have one more question. Do you have any plan to fix '(', ')' encoding problem at jquery.cookie 1.x version ?

You mean start encoding it? jquery.cookie is not being maintained anymore, so there is no plan right now to change it. And even if we would change to start encoding parens, it would go against the spec, so I wouldn't rely on it.

If you really want to make it work in older versions of Tomcat I would wait to see if #71 will be landed (considering all these problems I am almost sure it will) or [`cherry-pick`](http://git-scm.com/docs/git-cherry-pick) the commit 194c7326 from #71 in a temporary fork.

@mastojun take a look [here](https://github.com/js-cookie/js-cookie/blob/41a085bacd8507fff8741cc6a8a9613608b82a20/SERVERS.md#tomcat-7x).

@FagnerMartinsBrack 

See this [code](https://github.com/apache/tomcat/blob/TOMCAT_7_0_42/java/org/apache/tomcat/util/http/parser/HttpParser.java#L84-L87) or [RFC 2068 page 16](http://tools.ietf.org/html/rfc2068#page-16). %3C and %3E are not tokens, therefore tomcat 7.x can't read correctly.

for tomcat 7.x, custom write converter need to be fixed.
```javascript
var Cookies = Cookies.withConverter({
  write: function (value) {
      return encodeURIComponent(value)
          .replace(/%(23|24|26|2B|5E|60|7C)/g, decodeURIComponent)
          .replace(/[\(\)]/g, escape);
  }
});
```
or to be [quoted-string](http://tools.ietf.org/html/rfc2068#page-17), tomcat implements is [here](https://github.com/apache/tomcat/blob/TOMCAT_7_0_42/java/org/apache/tomcat/util/http/parser/HttpParser.java#L337-L371).

> or to be quoted-string, tomcat implements is here.

js-cookie does not support quoted-string for write operations. RFC 6265 does explicitly specify any behavior for quoted-string, so we can't be sure if it will be correctly handled by all servers.

I have updated the snippet, see https://github.com/js-cookie/js-cookie/commit/7e628d2b8a6f8349b88a429a0a691b1f5980ceda

I have no more opinion about this issue.

Thanks for the input @mastojun, I hope this fixes your issue with Tomcat. I will keep this open though, until this land on master probably at 2.1.0 since the write converter is a new feature.

:+1: 

Thinking better, I will track all this on #70.